<router-outlet>
  <section>
    <h1>Basic calculator app</h1>
  </section>
  <section class="main">
    <div class="answer">
      <input
        type="text"
        name="answer"
        readonly="true"
        disabled="true"
        class="answerinput"
      />
    </div>
    <div class="answer">
      <input
        type="text"
        name="answer"
        readonly="true"
        disabled="true"
        class="equationoutput"
      />
    </div>
    <div class="keypad">
      <table>
        <tbody>
          <tr>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>+</td>
          </tr>
          <tr>
            <td>4</td>
            <td>5</td>
            <td>6</td>
            <td>-</td>
          </tr>
          <tr>
            <td>7</td>
            <td>8</td>
            <td>9</td>
            <td>*</td>
          </tr>
          <tr>
            <td>+/-</td>
            <td>0</td>
            <td>=</td>
            <td>/</td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
</router-outlet>
